<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

  <ng-container matColumnDef="initiative">
    <th mat-header-cell *matHeaderCellDef scope="col"> Initiative</th>
    <td mat-cell *matCellDef="let element"> {{element.initiative}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef scope="col"> Name</th>
    <td mat-cell *matCellDef="let element" scope="row"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="armor">
    <th mat-header-cell *matHeaderCellDef scope="col"> AC</th>
    <td mat-cell *matCellDef="let element" scope="row"> {{element.armor}} </td>
  </ng-container>

  <ng-container matColumnDef="health">
    <th mat-header-cell *matHeaderCellDef scope="col"> Hit points</th>
    <td mat-cell *matCellDef="let element" scope="row"> {{element.health}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <mat-form-field appearance="standard">
    <!-- TODO furán viselkedik, majd meg kell vizsgálni, miért -->
    <mat-label>Initiative</mat-label>
    <input matInput placeholder="Initiative" type="number" [formControl]="initiative" required>
    <mat-error *ngIf="initiative.invalid">Enter a valid initiative!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" [formControl]="name" maxlength="100" required>
    <mat-error *ngIf="name.invalid">Enter a valid name!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Armor Class</mat-label>
    <input matInput placeholder="Armor Class" type="number" [formControl]="armor" required>
    <span matSuffix>AC</span>
    <mat-error *ngIf="armor.invalid">Enter a valid AC!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Hit points</mat-label>
    <input matInput placeholder="Hit points" type="number" [formControl]="health" required>
    <span matSuffix>HP</span>
    <mat-error *ngIf="health.invalid">Enter a valid HP!</mat-error>
  </mat-form-field>
</div>

