<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  <caption>Combatants</caption>
  <ng-container matColumnDef="initiative">
    <th mat-header-cell *matHeaderCellDef id="initiative"> Initiative</th>
    <td mat-cell *matCellDef="let element"> {{element.initiative}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef id="name"> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="armor">
    <th mat-header-cell *matHeaderCellDef id="armor"> AC</th>
    <td mat-cell *matCellDef="let element"> {{element.armor}} </td>
  </ng-container>

  <ng-container matColumnDef="health">
    <th mat-header-cell *matHeaderCellDef id="health"> Hit points</th>
    <td mat-cell *matCellDef="let element"> {{element.health}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<form [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Initiative</mat-label>
    <input matInput type="number" [formControl]="initiative" required>
    <mat-error *ngIf="initiative.invalid">Enter a valid initiative!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" maxlength="100" required>
    <mat-error *ngIf="name.invalid">Enter a valid name!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Armor Class</mat-label>
    <input matInput id="armorField" type="number" [formControl]="armor" class="right-align" required>
    <span matSuffix>AC</span>
    <mat-error *ngIf="armor.invalid">Enter a valid AC!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Hit points</mat-label>
    <input matInput id="healthField" type="number" [formControl]="health" class="right-align" required>
    <span matSuffix>HP</span>
    <mat-error *ngIf="health.invalid">Enter a valid HP!</mat-error>
  </mat-form-field>
  <button mat-icon-button color="primary" aria-label="Save" [disabled]="form.invalid" (click)="addCombatant()">
    <mat-icon>add_circle</mat-icon>
  </button>
</form>

