<form [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Initiative</mat-label>
    <input matInput type="number" [formControl]="initiative" required>
    <mat-error *ngIf="initiative.invalid">Enter a valid initiative!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" maxlength="100" required>
    <mat-error *ngIf="name.invalid">Enter a valid name!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Armor Class</mat-label>
    <input matInput id="armorField" type="number" [formControl]="armor" class="right-align" required>
    <span matSuffix>AC</span>
    <mat-error *ngIf="armor.invalid">Enter a valid AC!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Hit points</mat-label>
    <input matInput id="healthField" type="number" [formControl]="health" class="right-align" required>
    <span matSuffix>HP</span>
    <mat-error *ngIf="health.invalid">Enter a valid HP!</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" aria-label="Add" [disabled]="form.invalid" (click)="addCombatant()">
    Add
  </button>
  <button mat-button aria-label="Cancel" (click)="cancel()">Cancel</button>
</form>
